html {
  font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
  border: solid 3px lightgray;
}
.pink {
  color:rgb(255, 192, 203);
}
.skyblue {
  color: skyblue;
}
.google-fonts {
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
#profile {
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  text-decoration: underline;
}
#basic p {
  font-weight: bold;
}